<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>GitHub Readme Website</title>
		<link type="text/css" href="css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />	
		<link type="text/css" href="css/monospace.css" rel="stylesheet" />	
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){

				// Tabs
				$('#tabs').tabs();

				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
				
				<% if !slug.nil? %>
	                var index = $('#tabs a[href="#tab-<%= slug %>"]').parent().index();
	                if (index<0) index = 0;
                    $('#tabs').tabs('option', 'active', index);
	            <% end %>

			});
		</script>
	
	    
	</head>
	<body>
      <div id="window">
		 <div id="tabs">
		    <div class="scroller">
			    <ul>
			    <% 0.upto((content.keys.length) -1) { |i| %>
				    <li><a href="#tab-<%= content.keys[i] %>"><%= content[content.keys[i]]['name'] %></a></li>
			    <% } %>
			    </ul>
			</div>
			<% 0.upto((content.keys.length) -1) { |i| %>
				<div id="tab-<%= content.keys[i] %>"><%= content[content.keys[i]]['html'] %></div>
			<% } %>
		</div>
      </div>
	</body>
</html>
