<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><% if content[slug] && content[slug]['name'] %><%= content[slug]['name'] %><% else %>Page not Found<% end %> - GitHub Readme Website</title>
		<link type="text/css" href="css/monospace.css" rel="stylesheet" />
   
	</head>
	<body>
    <div id="window">
      <table id="maintable"><tr><td>
        <div id="left">
	        <div id="left-title">File List</div>
          <ul>
            <% 0.upto((content.keys.length) -1) { |i| %>
              <li<% if (content.keys[i] == slug) then %> class="current"<% end %>><a href="/<%= content.keys[i] %>"><%= content[content.keys[i]]['shortname'] %></a></li>
            <% } %>
          </ul>
        </div>
      </td><td>
        <div id="right">
		      <% if content[slug] then %>
		        <%= content[slug]['html'] %>
		      <% else %>
		        <h1>Error 404: File not found</h1>
		        <p>The system could not read from the file <code><%= slug %></code>. Select a file to view from the list on the left.</p>
		      <% end %>
        </div>
      </td></tr></table>
    </div>
	</body>
</html>
